header{
  display: flex;
  height: 60px;
  background: linear-gradient(
    to right,
    #6289ff,
    #6289ff 74%,
    #72a5f4 75%,
    #72a5f4 97%,
    #abdefb 100%
  );

}

footer{
  display: flex;
  height: 30px;
  background-color: #629ddf;
}
