<main id="container">
  <div>

  </div>
  <app-foto-pokemon
    [src]="pokemonSeleccionado?.sprites?.front_default"
    [alt]="pokemonSeleccionado?.name">
  </app-foto-pokemon>
  <div id="tarjetasContainer" #tarjetas (scroll)="onScroll($event)">
      <app-tarjeta-pokemon
      *ngFor="let pokemon of listaPokemons"
      [data]="pokemon"
      (clicked)="pokemonSeleccionado = $event"
      [seleccionado]="pokemonSeleccionado?.name === pokemon.name"
      >
    </app-tarjeta-pokemon>
    <img src="./../../../assets/img/spinner.svg" alt="Cargando" id="spinner" *ngIf="cargando">
  </div>
</main>
